<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "barra.html" %}
    <h2 style="color: rgb(62, 44, 167);">
        <p>Hola {{nombre_alumno}} {{apellido_alumno}}, cabezón, ¿Estás aprendiendo algo a las {{hora_actual}}?</p>
    </h2>        
        <p><strong>Estos son los temas que veremos en el curso:</strong></p>
        <ul>
        {% for i in temario %}
            
            <li>{{i}}</li>
            
        {% endfor %}
        </ul>   
    
</body>
</html>
 