{% extends "base.html" %}

{% block title %} Cuchita de 2 pisos {% endblock %}

{% block content %}

    <p>La camita que usó el día: {{dame_fecha}}</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/XEoBabuxeuo?si=ZLdyyTq5x6oPkqtr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{% endblock %} 