{% extends "base.html" %}

{% block title %} Sofalito de minis {% endblock %}

{% block content %}

    <p>Estuvo en este sofá el día: {{dame_fecha}}</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/sjA7q_Sx3rY?si=TMEfy5_9bqjrfN6d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{% endblock %} 